@model ASPNET_MVC.Models.VNPay.PaymentResponseModel

@{
    ViewData["Title"] = "Home Page";
    var postUrl = "tich-hop-thanh-toan-vnpay-voi-asp-net-core-7d5e4hP";
}

<div class="text-center">
    <h1 class="display-4">Thanh toán VNPay với .NET Core, C#</h1>
    @Model.VnPayResponseCode
    @if (Model.VnPayResponseCode.Equals("00"))
    {
        <div class="container">
            <h1 class="text-success">Thanh Toán Thành Công</h1>
            <p>Order ID: <strong>@Model.OrderId</strong></p>
            <p>Amount: <strong>@String.Format("{0:N0}", @Model.Vnp_Amount)</strong></p>
            <p>Order Info: <strong>@Model.OrderDescription</strong></p>
        </div>
    }
    else
    {
        <div class="container">
            <h1 class="text-danger">Thanh Toán Thất Bại</h1>
            <p>Error Code: <strong>@Model.VnPayResponseCode</strong></p>
            <p>Message: <strong>@Model.OrderDescription</strong></p>
        </div>
    }
</div>

<script>
    $(document).ready(function () {

    });
</script>