@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/Layouts/_BlankLayout.cshtml";
}
@await Html.PartialAsync("_Variables")
@using System.Net;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="@TempData.Peek("FaviconLogo")">
    <title>
        @ViewData["Title"]
    </title>
    @* font be Vietnam pro *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
    <style>
        section{
            position: absolute;
            top: 0;
            width: 100%;
        }

        body {
            font-family: "Be Vietnam Pro", serif;
            font-weight: 500;
            font-style: normal;
            font-size: 15px;
        }
    </style>
</head>

<body class="">
    
    <main class="main-content  mt-0">
        <div class="sticky-top bg-light shadow p-3 z-3 bg-white w-100 d-flex justify-content-center" style="min-height:90px;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary row d-flex w-75" style="box-shadow:none;">
                <div class="col-5">
                    <a href="/" class="">
                        <img alt="logo" src="@TempData.Peek("Logo")"
                             class="img-fluid w-100 d-md-none" />  <!-- 100% trên mobile -->

                        <img alt="logo" src="@TempData.Peek("Logo")"
                             class="img-fluid d-none d-md-block" style="width:35%;"/> <!-- 25% trên desktop -->
                    </a>
                </div>
                <div class="col-7 text-end">
                    @await Html.PartialAsync("Partials/loginnav")
                </div>
            </nav>
        </div>
        <section>
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                            <div class="card card-plain">
                                <div class="card-header pb-0 text-start">
                                    <h4 class="font-weight-bolder">Sign In</h4>
                                    <p class="mb-0">Nhập username và password để đăng nhập</p>
                                </div>
                                <div class="card-body">
                                    <form asp-action="HandleForm">
                                        @*<div class="mb-3">
                                            <input type="email" class="form-control form-control-lg" placeholder="Email" aria-label="Email">
                                        </div>
                                        <div class="mb-3">
                                            <input type="email" class="form-control form-control-lg" placeholder="Password" aria-label="Password">
                                        </div>*@
                                        <div class="mb-3">
                                            <input type='text' id="username" name='username' value=''
                                                   placeholder="Username" class="form-control form-control-lg"/>
                                            <div id="errorMessageUsername" style="color: red;"></div                            >
                                        </div>
                                        <div class="mb-3">
                                            <input type='password' id="password" name='password'
                                                   placeholder="Password" class="form-control form-control-lg"/>
                                            <div id="errorMessagePassword" style="color: red;"></div>
                                            @if (ViewBag.StatusCode != HttpStatusCode.OK && ViewBag.StatusCode  != null)
                                            {
                                                <div id="errorMessageAccount" style="color: red;">@ViewBag.Message</div>
                                            }
                                        </div>

                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="rememberMe">
                                            <label class="form-check-label" for="rememberMe">Remember me</label>
                                        </div>
                                        <div class="text-center">
                                            <button id="btnLoginn" type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Sign in</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                    <p class="mb-4 text-sm mx-auto">
                                        Don't have an account?
                                        <a href="/auth/register" class="text-primary text-gradient font-weight-bold">Sign up</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                            <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url(@TempData.Peek("backgroundURL"));
          background-size: cover;">
                                @* <span class="mask bg-gradient-primary opacity-6"></span> *@
                                @* <h4 class="mt-5 text-white font-weight-bolder position-relative">"Attention is the new currency"</h4>
                                <p class="text-white position-relative">The more effortless the writing looks, the more effort the writer actually put into the process.</p> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    @* <script src="~/assets/js/argon-dashboard.min.js?v=2.0.4"></script> *@

    @*jquery*@
    @*<script src="../lib/jquery/jquery.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <script>
        $(document).ready(function () {
            var token = getCookie("token");
            var userId = getCookie("userId");
            var UserInfo = getCookie("UserInfo");

            if (token != null) document.cookie = 'token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
            if (userId != null) document.cookie = 'userId=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
            if (UserInfo != null) document.cookie = 'UserInfo=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';

            
        });
        function logout() {
            document.cookie = 'token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
            window.location.href = '/auth/login';
        }

        function getCookie(name) {
          // Split cookies by semicolon
          var cookies = document.cookie.split(';');
      
          // Loop through each cookie
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i];
              // Trim leading and trailing spaces
              cookie = cookie.trim();
              // Check if this cookie is the one we're looking for
              if (cookie.startsWith(name + '=')) {
                  // Return the cookie value
                  return cookie.substring(name.length + 1);
              }
          }
          // Return null if cookie not found
          return null;
        }
    </script>
</body>

</html>
 @* function logout(){
        document.cookie = 'token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/hcr/;';
        window.location.href = '/hcr/login';
    }*@